* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --bg-winter: #8fcaca;
  --bg-spring: #cce2cb;
  --bg-summer: #fcf6bd;
  --bg-autumn: #ffd8be;
  --bg-color: #edede9;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: space-between;
}

.range-container {
  display: flex;
  flex-direction: column;
}

.grid {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  width: 600px;
  height: 600px;
  border: var(--bg-winter) 15px solid;
}

.box {
  border: 1px solid rgba(155, 163, 172, 0.185);
}
.active {
  background-color: red;
}

.select {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
  height: 40px;
}

.option {
  padding: 0 30px 0 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  background: var(--bg-color);
  border: var(--bg-color) solid 1px;

  width: 100%;

  transition: background 0.4s ease-in-out;
}

.option:hover {
  background: var(--bg-color);
}

#winter:hover {
  background: var(--bg-winter);
}

#spring:hover {
  background: var(--bg-spring);
}

#summer:hover {
  background: var(--bg-summer);
}

#autumn:hover {
  background: var(--bg-autumn);
}

.select:focus .option {
  position: relative;
  pointer-events: all;
}

.selectopt {
}
