* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --bg-winter: #8fcaca;
  --bg-spring: #ffd8be;
  --bg-summer: #fcf6bd;
  --bg-autumn: #cce2cb;
  --bg-color-primary: rgba(255, 255, 255, 0.65);
  --bg-color-secondary: black;
}

body {
  background: url(./alchemy.gif);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1em;
}

h1 {
  font-family: 'Fascinate Inline', cursive;
  text-align: center;
  font-size: 5rem;
}

.container {
  width: 85%;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 650px;
  background-color: var(--bg-color-primary);
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
}

button {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
}

.menu {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-between;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  width: 500px;
  height: 500px;
  background: white;
  display: grid;
  border: var(--bg-color-secondary) 5px solid;
}

.box {
  border: 1px solid rgba(211, 211, 211, 0.397);
}

input[type='range'] {
  width: 100%;
  max-width: 10em;
  appearance: none;
  background: transparent;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0.75em;
  width: 0.75em;
  background: black;
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: var(--bg-color-secondary) solid 1px;
  background: transparent;
}

#color-picker {
  width: 100%;
  max-width: 50px;
}

.option,
.btn {
  width: 10em;
  min-height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color-primary);
  border: var(--bg-color-secondary) solid 1px;
  transition: background 0.4s ease-in-out;
}

.btn:hover {
  background-color: darkgray;
}

#winter:hover {
  background: var(--bg-winter);
}

#spring:hover {
  background: var(--bg-spring);
}

#summer:hover {
  background: var(--bg-summer);
}

#autumn:hover {
  background: var(--bg-autumn);
}

/* TODO: learn about tablet & phone touch events and implement below for smaller screen sizes */
@media (max-width: 920px) {
  .container {
    flex-direction: column;
    width: 80vw;
    justify-content: space-evenly;
  }

  .grid {
    width: 400px;
    height: 400px;
    margin: 1em;
  }

  .menu {
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;
    width: 90%;
    padding: 1em 0;
    align-items: center;
  }

  #color-palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .option,
  .btn {
    max-width: 60px;
    max-height: 30px;
  }
}
@media (max-width: 550px) {
  h1 {
    font-size: 4rem;
  }
  .container {
    width: 90%;
  }

  .grid {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 2.5rem;
  }
  .container {
    width: 100%;
  }
}
