* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  background-color: aliceblue;
  width: 700px;
  height: 700px;
}

.box {
  border: 1px solid rgba(155, 163, 172, 0.582);
}
.active {
  background-color: lemonchiffon;
}
